RewriteEngine On

RewriteCond %(REQUEST_FILENAME) !-d
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#Carga tu propia página de error 404

ErrorDocument 404 /errores/errPage.html
ErrorDocument 404 errPage.html
